.aplayer {
    width: 1400px !important;
    height: 100px;
    background: transparent !important;
}
.aplayer-body{
    background:transparent !important;
    border: 0 !important;
}
.aplayer-music {
    color: white !important;
}
.aplayer-music .aplayer-author{
    color: white !important;
}
.aplayer-played{
  background: #e91e63 !important;
}
.aplayer-thumb{
    border-color: #e91e63 !important;
    background: #e91e63 !important;
}
.aplayer-pic {
    border-radius: 6px;
}